<a href="https://colab.research.google.com/github/YogenderSingh07/ibm-ml-learning/blob/main/01_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 10
y = "INDIA'S GDP"
z= 10.23453
print(x)

type(z)
type(y)

In [ ]:
# Arithmetic operators

x = 10
y =20
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x//y)
print(x**y)

#operator preference
# paranthesis,exponential,mul,div,add,sub
x = 10
y = 20
z = 30
print(x+y*z)

#relational operators
x = 10
y = 20
z = 12
print(x>y)
print(x<y)
print(x==y)
print(x!=y)

In [ ]:

#input and type casting --default value of input is a string

x = int(input("ENTER YOUR AGE "))
print(x)
type(x)

ENTER YOUR AGE 20
20

int

In [ ]:
#control flow statements
# if - elif - else

x = int(input("ENTER YOUR AGE "))
if x>18:
  print("You are eligible to drive ")
else:
  print("You are not eligible to drive")
print(                                                      )


#elif
weather = input("if weather is cold enter w ,for rain enter r ,for sunny enter s:")
if weather == 'w':
  print("no iceream")
elif weather == 'r':
  print("depends , but not suggested ")
else:
  print("Absolutely!! have that ice cream ")
print(                                                      )

ENTER YOUR AGE 20
You are eligible to drive

if weather is cold enter w ,for rain enter r ,for sunny enter s s
Absolutely!! have that ice cream

In [ ]:

#if-if-if all ifs are checked..(if you want all conditions to be checked)
#if-elif-elif-else..any if or elif is right the conditons are not checked further
age = int(input("ENTER YOUR AGE "))
if age>12:
  print("you can ride")
if age<12:
  print("you cant ride")
if age==12:
  print("wait another year")
else:
  print("nothing")

ENTER YOUR AGE 20
you can ride
nothing

In [ ]:
#range(start,end,stepsize)

list(range(1,10,2))
print(list(range(10,1,-2)))

[10, 8, 6, 4, 2]

In [ ]:
#LOOPS ---WHILE,FOR
password = 7
for iterator in range(0,10):
  if iterator==password:
       print("password matched")
       break
  else:
    print("not matched")

not matched
not matched
not matched
not matched
not matched
not matched
not matched
password matched

In [ ]:
n = int(input("enter your total numbers "))
sum=0
for i in range(1,n+1):
  sum+=i
print("sum of the numbers is ",sum)

enter your total numbers 100
sum of the numbers is  5050

In [ ]:
#functions --- > No statement after return is executed( "return" concludes the function)
#df['Better_Team'] = df.apply(more_Shots, axis=1) , the function more_Shots takes an argument but we dont pass it , because pandas does it  by itself , axis=1 â†’ pass each row

Each row is a pandas Series
def func(name):
  print("Good Morning",name )

func("Aman & rishit !")
print()
##SIMPLE INTEREST
def SI(principal,rate,time):
  si = (principal*rate*time)/100
  print("simple interest is ",si)

SI(1000,5,3)

Good Morning Aman & rishit !

simple interest is  150.0

In [ ]:
##LIST --> heterogenous
a = [1,3,4,21,47,32]
y = [1,"hi",True,20.12,False]
print(a[0])
print(a[0:3])  ##slicing
print(a[0:5:2])
print(a[-1])
x = a[5:0:-1]
print(x)
print()

#small question
score = [10,12,20,45,34,67,88,98]
len =0
sum=0
for i in score:
  len+=1
  sum+=i
average = sum/len
print("sum of the score is",sum)
print("length of the score list is",len)
print("average value of score is",average)

print()
score.append(7)
score.insert(0,101) #append adds at end of list,insert gives the option to add index  -->( index,value)

1
[1, 3, 4]
[1, 4, 47]
32
[32, 47, 21, 4, 3]

sum of the score is 374
length of the score list is 8
average value of score is 46.75

In [ ]:
#Tuple--immutable
score_tuple = (7,100,42,54,122,49)
print(score_tuple[0])
print(score_tuple[0:3])
print(score_tuple[-1])

7
(7, 100, 42)
49

In [ ]:
#set -- { }, only scores unique values ,e.g  1000 names --find unique names??--put all names in set to find unique names
score_set = {99,99,99,45,45,30,30}
print(score_set)

{99, 45, 30}

In [ ]:
#dictionary d={key:value}
score_dict = {"SRH":281,"RCB":49,"CSK":230}
print(score_dict)
print(score_dict["RCB"])   #passes key to get value
score_dict.update({"MI":100})
print(score_dict)
score_dict.pop("SRH")
print(score_dict)
print()
##using for loop

for i in score_dict:
  print(i)
  #keys

print()

for i in score_dict:
  print(score_dict[i])
  #values
print()
print(score_dict.items())

{'SRH': 281, 'RCB': 49, 'CSK': 230}
49
{'SRH': 281, 'RCB': 49, 'CSK': 230, 'MI': 100}
{'RCB': 49, 'CSK': 230, 'MI': 100}

RCB
CSK
MI

49
230
100

dict_items([('RCB', 49), ('CSK', 230), ('MI', 100)])

In [ ]:
##group by:groupby() is used to group data and apply aggregation functions like sum, mean, count, etc.
#syntax
df.groupby('column').agg_function()

#ex
data = pd.DataFrame({
    'department': ['IT', 'HR', 'IT', 'HR', 'Finance'],
    'salary': [50000, 40000, 60000, 45000, 70000]
})
data.groupby('department')['salary'].mean()
#multiple aggregations
data.groupby('department').agg({
    'salary': ['mean', 'sum', 'count']
})