<a href="https://colab.research.google.com/github/YogenderSingh07/ibm-ml-learning/blob/main/02_understanding_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
##multiple cols -- data frame
##single col -- series



df = pd.read_csv('housing.csv')
df.info() #gives the whole info about the data..for eg the data type
## rows and cols--df.shape()
df.head() ## first 5 rows
df.tail() ## last 5 rows

In [ ]:
#COLS

## to access data of more than one column(can be called dataframe),use square brackets twice
df[['longitude','latitude']]
# to know unique values of cols, df[colname].unique()
df['longitude'].unique()

#length of these unique vals can be found through the len() function
len(df['longitude'].unique())
#rename a column, pass old name as key & new name as a value(key-val pair)
df.rename(columns={'longitude:height'},axis=1)

#the data wont be updated permanently, to update it permanently,put inplace=true else variable reassignment like df = changes
df.rename(columns={'longitude:height'},inplace=True)

In [ ]:
from types import new_class
#ROWS( indexing from 1-104)

df.loc[102] ##loc will give the value of the row with index 102 -->will give the 102nd row
df.iloc[102] ## iloc will give the row with 102th index..like python ---> will give 103rd row's data
df.iloc[102:110]##slicing

In [ ]:
#to acess first 4 rows and 3 cols
df.iloc[0:4,0:3]   ##iloc doesnt need column name to access it, but in order to access from loc,we would need col name for it
df.loc[0:4,['longitude','latitude','housing_median_age']]

### `drop()` method

The `drop()` method is used to remove specified rows or columns from a DataFrame.

*   To drop rows, specify the `index` or `labels` (row labels) and set `axis=0` (default).
*   To drop columns, specify the `columns` or `labels` (column names) and set `axis=1`.
*   `inplace=True` modifies the DataFrame in place, otherwise, it returns a new DataFrame.

Let's drop a few rows and a column for demonstration. We will create a copy first to avoid altering the original `df` permanently.

In [ ]:
df_copy = df.copy()

# Drop rows with index 0 and 1
df_dropped_rows = df_copy.drop(index=[0, 1])
print("DataFrame after dropping rows 0 and 1:")
display(df_dropped_rows.head())

# Drop the 'ocean_proximity' column
df_dropped_col = df_copy.drop(columns=['ocean_proximity'])
print("\nDataFrame after dropping 'ocean_proximity' column:")
display(df_dropped_col.head())

### `duplicated()` and `drop_duplicates()` methods

*   The `duplicated()` method returns a boolean Series indicating whether each row is a duplicate of a previous row.
*   The `drop_duplicates()` method removes duplicate rows from the DataFrame.

Let's add some duplicate rows to our DataFrame copy to demonstrate.

In [ ]:
df_with_duplicates = df.copy()
# Add some duplicate rows for demonstration
df_with_duplicates = pd.concat([df_with_duplicates, df_with_duplicates.iloc[:5]], ignore_index=True)

print("DataFrame with added duplicate rows (first 10 rows):")
display(df_with_duplicates.head(10))

# Identify duplicate rows
duplicate_rows = df_with_duplicates.duplicated()
print("\nBoolean Series indicating duplicate rows:")
display(duplicate_rows.head(10))

# Drop duplicate rows
df_no_duplicates = df_with_duplicates.drop_duplicates()
print("\nDataFrame after dropping duplicate rows (first 10 rows):")
display(df_no_duplicates.head(10))
print(f"Original rows: {len(df_with_duplicates)}, Rows after dropping duplicates: {len(df_no_duplicates)}")

### `reset_index()` method

The `reset_index()` method resets the index of the DataFrame. The old index is added as a new column, and a new default integer index is used.

*   `drop=True` prevents the old index from being added as a new column.
*   `inplace=True` modifies the DataFrame in place.

In [ ]:
df_reset_example = df.iloc[5:10].copy()
print("Original DataFrame slice:")
display(df_reset_example)

# Reset index, keeping the old index as a column
df_reset_with_col = df_reset_example.reset_index()
print("\nDataFrame after `reset_index()` (old index becomes a column):")
display(df_reset_with_col)

# Reset index, dropping the old index
df_reset_dropped = df_reset_example.reset_index(drop=True)
print("\nDataFrame after `reset_index(drop=True)` (old index is dropped):")
display(df_reset_dropped)

In [ ]:
#min max mean
print(df['total_rooms'].min())
print(df['total_rooms'].max())
print(df['total_rooms'].mean())

In [ ]:
#SORTING COLS
df.sort_values(['housing_median_age']) #ascending is true by default
df.sort_values(['housing_median_age'],ascending = False) #ascending is false for descending order
df.sort_values(['housing_median_age','total_rooms'],ascending=False)#sorting multiple cols

In [ ]:
#creating a Dataframe --dictionary like key-val pair
users = pd.DataFrame({'user_id':[1,2,3,4],'name':["rishit","yogender","aman","VANSH"]})
messages = pd.DataFrame({'OS':["IOS","ANDROID","ANDROID","IOS"],'Message':["hmm","ok","nice","thankyou"],'user_id':[1,2,3,4]})

In [ ]:
#Concatenate , axis =0 is vertical concatination - the stack dataframe one on top of other, axis =1 To place DataFrames side by side, use axis=1. This is useful when the DataFrames have the same rows (matching indices) but different columns (representing different features or attributes).
pd.concat([users,messages],axis=1)

In [ ]:
#merge
users.merge(messages,on='user_id')

messages_by_os = messages.groupby('OS')['Message'].count()
print(messages_by_os)


messages_by_os = (
    messages.groupby('OS')
            .agg(Message_Count=('Message', 'count'))
)
print(messages_by_os)